
.search-bar-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    gap: 50px; /* Espaciado entre elementos */

    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px 30px 20px 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Ajusta el ancho máximo */
    max-height: 110px;
    min-height: 110px;
    margin: auto;
  }
  

  .search-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    display: flex;
    flex: 1;

  }
  
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .filter-select {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
  }
  
  .filter-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
.price-range-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
  }


  .custom-slider {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
  }
  
  .custom-slider .custom-track {
    background-color: #007bff;
    height: 100%;
    border-radius: 4px;
  }
  
  .custom-slider .custom-track:nth-child(1) {
    background-color: transparent;
  }
  
  .custom-slider .custom-track:nth-child(2) {
    background-color: #007bff; 
  }

  .custom-slider .custom-track:nth-child(3) {
    background-color: transparent; 
  }
  
  .custom-thumb {
    height: 20px;
    width: 20px;
    background-color: #007bff;;
    border-radius: 50%;
    cursor: grab;
    top: 50%;
    transform: translateY(-50%);

  }
  
  .custom-thumb:hover {
    background-color: #2a6bbd;
  }
  
  .price-range-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  
  .date-range-container {
    display: flex;
    flex-direction: row;
    gap: 50px;

  }
  
  .date-range-container label {
    font-size: 14px;
    font-weight: bold;


  }
  
  .date-input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .date-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  /* Botón de búsqueda */
  .search-button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .search-button:hover {
    background-color: #218838;
  }
  
  .search-button:active {
    background-color: #1e7e34;
  }
  