/* Transactions.css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.configuration {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #000000;     
  background-color: #6b90b7;
  padding: 20px;
  width:100vw;
  padding-top: 100px; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.table-header-buttons {
  display: flex;
  justify-content: center; 
  gap: 30px; 
  margin-bottom: 20px; 
}

.table-header-buttons button {
  font-family: 'Poppins', sans-serif;
  background-color: #000; 
  color: white;
  padding: 10px 15px; 
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.table-header-buttons button:hover {
  background-color: #4a5568; 
}

.configuration form {
  background-color: #1A202C;  
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  color: #E2E8F0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.configuration button{
  font-family: 'Poppins', sans-serif;
  background-color: #000000; 
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.configuration button.icon-button {
  background: transparent;  
  border: none;            
  padding: 10;             
  cursor: pointer;        
} 

.icon-button img {
    display: block;           
    margin: 0;               
}


.configuration button:hover {
  background-color: #83b0e0; 
  transform: translateY(-2px);
}

.configuration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.configuration-form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; 
}

.configuration-form-container.show-form {
  max-height: 1500px; 
}

.configuration-type-buttons button {
  font-family: 'Poppins', sans-serif;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.configuration-type-buttons .active-income {
  background-color: #4CAF50; 
  color: white;
}

.configuration-type-buttons .active-expense {
  background-color: #FF6347;
  color: white;
}

.configuration-form.income {
  background-color: #e6f7e6; 
}

.configuration-form.expense {
  background-color: #ffe6e6; 
}

.configuration-form label {
  font-size: 14px;
  color: #A0AEC0;
  margin-bottom: 5px;
  display: block;
}

.configuration-form input[type="text"],
.configuration-form input[type="number"],
.configuration-form input[type="date"],
.configuration-form select {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #cbd5e0; 
  border-radius: 5px;
  background-color: #f7fafc;
  color: #2d3748;
  transition: border-color 0.3s;
}

.configuration-form input[type="text"]:focus,
.configuration-form input[type="number"]:focus,
.configuration-form input[type="date"]:focus,
.configuration-form select:focus {
  outline: none;
  border-color: #3182ce; 
  box-shadow: 0px 0px 6px rgba(49, 130, 206, 0.5); 
}

.category-dropdown,
.account-dropdown {
  font-family: 'Poppins', sans-serif;
  background-color: #1A202C;
  font-size: 1em;
  border: 1px solid #1A202C;
  border-radius: 5px;
}

.configuration button[type="submit"] {
  background-color: #2b6cb0; 
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.configuration button[type="submit"]:hover {
  background-color: #83b0e0; 
  transform: translateY(-2px);
}

.configuration button[type="submit"]:active {
  background-color: #a6c6e9;
  transform: translateY(0);
}

.message {
  color: #38a169; 
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.add-configuration {
  background-color: #2b6cb0;
  color: white; 
  padding: 5px 10px; 
  font-size: 0.9rem; 
  border-radius: 3px; 
  border: none;
  cursor: pointer; 
  text-align: center;
}

.add-configuration:hover {
  background-color: #4A5568;
}


/*----------------------------------------------------------------*/

.cards1Container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1400px;
}

.card1 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  min-width: 200px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 h3 {
  font-size: 1.5rem;
  color: #1A202C;
  margin-bottom: 10px;
}

.card1 p {
  font-size: 1.2rem;
  color: #4A5568;
}

.card1 .error {
  color: #FF6347;
  font-size: 1rem;
  margin-top: 10px;
}

.card1 {
background-color: #ffffff !important;
}


@media screen and (max-width: 768px) {
  .cards1-container {
      flex-direction: column;
      align-items: center;
  }

  .card1 {
      width: 90%;
      max-width: none;
  }
}